.slider{
    width: 50%;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 10s infinite alternate;
    animation-timing-function: fade-in;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider ul li img{
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
}